body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

code {
	font-family: "Droid Sans Mono", "Courier New", Courier, monospace;
}

.hide {
	display: none;
}

.activities > h4 {
	margin-top: 5%;
}