body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

code {
  font-family: "Droid Sans Mono", "Courier New", Courier, monospace;
}

div.calc-app {
  padding: 5%;
}

.hide {
  display: none;
}

.activities > .row {
  border-bottom: 1px solid lightgrey;
  margin-top: 1.5rem;
}


/* Changes to Skeleton Style
 * * * * * * * * * * * * * * * * * * * * * * * * */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #12a8dd;
  border-color: #12a8dd; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1093c1;
  border-color: #1093c1; }