body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

body.calc {
  background: rgb(247, 173, 29);
}

.hide {
  display: none;
}


code {
  font-family: "Droid Sans Mono", "Courier New", Courier, monospace;
}

div.calc-app {
    padding: 2.5%;
  }

div.form-wrapper {
  background: rgb(247, 173, 29);
  /*padding-top: 5%;*/
  padding-top: 2.5%;
  color: white;
}

form > input,
form > select{
  color: #333;
  border-radius: 0 !important;
}

a.all-activities {
  background: #85c423;
  color: white;
  border: none;
}

a.all-activities:hover {
  color: white;
  background: rgb(118, 174, 31);
  border: none;
}

div.calc-form {
  padding: 5%;
  background: rgb(233, 132, 0);
}

div.header {
  background: #edf7fb;
  padding: 2.5%;
}


a.activity > div {
  border: solid 2px rgb(18, 168, 221);
  color: #333;
  margin-bottom: 1em;
  padding: 2.5%;
  min-height: 100%;
  overflow: auto;
  border-radius: 1em;
}

a.activity > div:hover {
  background: rgb(18, 168, 221);
  color: #fff;
}

div > img {
  width: 25%;
}

small > a {
  color: #c3c3c3;
  text-decoration: none;
}

#result {
  padding-top: 2.5%;
} 

#result > div {
  background: rgb(233, 132, 0);
  color: white;
  padding: 2.5%;
}

/* Media Queries
 * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 550px) {
  div.calc-app,
  div.header {
    padding: 5%;
  }

  div > img {
    width: 50%;
  }
}

/* Changes to Skeleton Style
 * * * * * * * * * * * * * * * * * * * * * * * * */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #12a8dd;
  border-color: #12a8dd; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1093c1;
  border-color: #1093c1; }